{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/1.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block"style="background: black;border-radius: 32px;opacity:60%">
        <h5>Best Ice Creams</h5>
        <p>These Ice Creams are the best in the world. You never eaten these types of Ice Creams.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/4.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block"style="background: black;border-radius: 32px;opacity:60%">
        <h5>We have huge variety of Ice Creams</h5>
        <p>We serve Ice Creams with love. So be a part of it.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/6.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background: black;border-radius: 32px; opacity:60%">
        <h5>Inaugrated by Virat Kohli</h5>
        <p>This Ice Creams are tested by Captain of India Virat Kohli</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
<div class="album py-3 bg-light">
    <div class="container">
    <h1 class="my-4 text-center">Select from our range of Ice Creams</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/11.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Rolled Ice Cream-A fascinating concept to most, rolled-up strips of ice cream is actually a very common street food in Thailand, Malaysia, Cambodia, and the Philippines. Even more surprising is that the entire process — pouring the ice cream mixture, chopping, mixing add-ins (like strawberries and Oreos), and perfectly spiraling the ice cream — only takes about two minutes.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/22.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Kulfi-Ice cream in India is more like custard than anything else. It's thick and dense and takes longer to melt, which makes it perfect for serving on a stick. Flavors are more on the savory side, with options like saffron, cardamom, and rose.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/33.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Faloodeh-While this looks like a savory noodle dish, it is, in fact, ice cream from Iran. Blended with a mixture of rose water, sugar, and lime juice, these rice noodles are a perfect frozen treat.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/44.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Granita-Born in Sicily, this icy treat is a blend of sugar, water, and various flavorings from fruit, nuts, and herbs — like strawberry, almond, and mint. Its crystalized texture makes it best for eating with a spoon from a cup or bowl</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/66.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Gelato-Italian gelato ripples and forms imperfect scoops because it is so much denser than standard American ice cream. That's because it contains a higher volume of milk than cream, and it's churned at a slower rate, which means less air is incorporated.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/55.jfif" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Soft Serve-A summertime classic in the U.S., soft-serve was first created way back in the 1930s. It gets its super-smooth texture from air that's introduced as the ingredients are frozen. Available in just chocolate and vanilla, it's most often served in a cone and then dipped in chocolate or rainbow sprinkles.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
